@model List<LiveShow.Services.Models.Show.GenreDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button type="button" class="btn btn-primary">Edit Genre</button>
                <button type="button" class="btn btn-primary">Delete Genre</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="container">
    <button type="button" class="btn btn-primary" asp-controller="Genre" asp-action="AddGenre">Add Genre</button>
</div>